.usersContainer {
    padding-top: 20px;
    color: #E1E3E6;
}

.userContainer {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.imgAndButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.userData {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 100px;
}

.page {

}

.selectedPage {
    font-weight: bold;
}

.page:hover, .selectedPage:hover {
    cursor: pointer;
}

