.navigation {
    padding: 1vh 2vh;
    background-color: #343434;
    color: #E1E3E6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 15px;
}

.link {
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    padding: 4px 6px;
    margin: 5px 0;
}

.linkActive {
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    padding: 4px 6px;
    margin: 5px 0;
    background-color: rgba(216, 219, 223, 0.25);
}

.link:hover {
    background-color: rgba(216, 219, 223, 0.25);
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #E1E3E6;
}

a:visited {
    color: #E1E3E6;
}