body {
    background-color: #2B2B2B;
}

.app-wrapper {
    background-color: #2B2B2B;
    color: aliceblue;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 2fr 17fr 2fr;
    grid-gap: 15px;
    grid-template-areas:
    "h h h"
    "n c c"
    "f f f";
}

.logo {
    width: 40px;
    height: 40px;

}

.background {
    max-width: 80%;
    max-height: 80%;
}

.header {
    grid-area: h;
    background-color: #343434;
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
}

.navigation {
    grid-area: n;
    background-color: #343434;
}

.main {
    grid-area: c;
    background-color: #343434;
}

.footer {
    grid-area: f;
    background-color: #343434;
}
